.tag {
  padding: 1px 15px;
  width: fit-content;
  font-size: 10px;
  font-weight: 500;
  font-family: "IBM Sans Plex", sans-serif;
  border-radius: 50px;
  border: 1.5px solid black;
}

.tag_type_active {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.tag_type_inactive {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.tag_type_clickable {
  cursor: pointer;
}
