.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar__random-game {
  width: 35px;
  margin-left: 10px;
  cursor: pointer;

  filter: drop-shadow(
    0 0 5px color-mix(in srgb, var(--primary-color) 60%, transparent)
  );

  transition: transform 0.5s ease-out;
}

.navbar__random-game:hover {
  transform: rotate(360deg);
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 0;

    margin-bottom: 20px;
  }

  .navbar__random-game {
    display: none;
  }
}
