.search-bar {
  flex: 1;

  display: flex;
  align-items: center;
  gap: 12px;

  background-color: var(--accent-color);
  border: var(--stroke-width) solid black;
  border-radius: 5px;

  padding: 0 10px;

  box-shadow: 3px 3px 0 var(--primary-color);
}

.search-bar__icon {
  width: 20px;
  aspect-ratio: 1;
}

.search-bar__input {
  font-size: 20px;
  border: none;
  background: none;
  height: 40px;
}

.search-bar__input:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .search-bar {
    gap: 6px;
    padding: 0 8px;
    width: 100%;
  }

  .search-bar__icon {
    width: 12.5px;
  }

  .search-bar__input {
    font-size: 16px;
  }
}
