.button {
  padding: 15px 30px;

  border: var(--stroke-width) solid black;
  border-radius: 10px;

  font-weight: 700;
  font-size: 12px;

  box-shadow: 2px 2px 0 var(--primary-color);

  transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;
  cursor: pointer;

  width: fit-content;

  display: flex;
  align-items: center;
  gap: 8px;
}

.button__text {
  display: inline-block;
  transition: transform 0.2s ease;
}

.button:active {
  box-shadow: 1px 1px 0 black;
  transform: translate(1px, 1px);
}

.button:hover {
  box-shadow: 1px 1px 0 var(--primary-color);
}

.primary-button {
  color: var(--text-color);
  background-color: var(--primary-color);
}

.secondary-button {
  color: black;
  font-weight: 500;
  background-color: var(--accent-color);
}

.button__icon {
  width: 15px;
  aspect-ratio: 1;
}
