:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
  color: var(--text-color);

  --primary-color: #e63946;
  --accent-color: #faf3dd;
  --text-color: #ffffff;
  --secondary-text-color: #616161;
  --background-color: #1a1a1a;
  --stroke-width: 2px;
  --border-radius: 3px;
}

* {
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Space Grotesk", Arial, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-corner {
  display: none;
}
